{% extends 'base/base.html' %}
{% block header_css_extend %}
<style>

#remember {
	width: 41%;
}

.center-box{
	position: relative;
	text-align:center
	margin: 0 auto;

}
.demo-card-wide.mdl-card {
  width: 512px;

}
.demo-card-wide > .mdl-card__title {
  background-color: #666;
  height: 30%;
  /*background: url('../assets/demos/welcome_card.jpg') center / cover;*/
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
</style>

{% endblock %}

{% block center_info %}
		<div class="android-wear-section">
          <div class="android-wear-band center-outer">
          	<div class="demo-card-wide center-box mdl-card mdl-shadow--2dp">
			  <div class="mdl-card__title">
			    <h2 class="mdl-card__title-text">Welcome</h2>
			  </div>

			  <!-- Textfield with Floating Label -->

				<form action="/accounts/login/action/">
				  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				    <input class="mdl-textfield__input" type="text" id="username">
				    <label class="mdl-textfield__label" for="username">用户名</label>
				  </div>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				    <input class="mdl-textfield__input" type="text" id="passwprd">
				    <label class="mdl-textfield__label" for="password">密码</label>
				  </div>
				  <label class=" center-box mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-2" id='remember'>
					  <input type="checkbox" id="checkbox-2" class="mdl-checkbox__input">
					  <span class="mdl-checkbox__label">记住密码</span>
					</label>

				
			  <div class="mdl-card__actions mdl-card--border">
			    <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="submit">
			      登录
			    </button> 
			  </div>
			  </form>
			  <div class="mdl-card__menu">
			    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
			      <i class="material-icons">share</i>
			    </button>
			  </div>
			</div>

            <div class="android-wear-band-text">
              <div class="mdl-typography--display-2 mdl-typography--font-thin">The best journey for yor!</div>
              <p class="mdl-typography--headline mdl-typography--font-thin">
                select area, 
              </p>
              <p>
                <a class="mdl-typography--font-regular mdl-typography--text-uppercase android-alt-link" href="">
                  See what's new in the Play Store&nbsp;<i class="material-icons">chevron_right</i>
                </a>
              </p>
            </div>
          </div>
        </div>

{% endblock %}