{% extends 'base/base.html' %}
{% block header_css_extend %}
<style>

#remember {
	width: 41%;
}

.center-box{
	position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.demo-card-wide.mdl-card {
  width: 380px;

}
.demo-card-wide > .mdl-card__title {
  background-color: #666;
  height: 30%;
  /*background: url('../assets/demos/welcome_card.jpg') center / cover;*/
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
</style>

{% endblock %}

{% block center_info %}
		<div class="android-wear-section">
			<div class="demo-card-wide center-box mdl-card mdl-shadow--2dp">
			  <div class="mdl-card__title">
			    <h2 class="mdl-card__title-text">Register</h2>
			  </div>
			  <!-- Textfield with Floating Label -->
				<form action="/accounts/register/action/" method="POST">
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--m -label">
				    <input class="mdl-textfield__input" type="text" id="username" name="username" style="float: left;">
				    <label class="mdl-textfield__label" for="username">手机/邮箱</label>
					 <a class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" href="/accounts/register/send/code/" style="float: left;" style="float: left;">
				      <i class="material-ico ns">person</i>
				    </a>
				  </div>
				

				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				    <input class="mdl-textfield__input" type="text" id="password" name="password">
				    <label class="mdl-textfield__label" for="password">密码</label>
				  </div>
				 <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				    <input class="mdl-textfield__input" type="text" id="repassword" name="repassword">
				    <label class="mdl-textfield__label" for="repassword">确定密码</label>
				 </div>
				
			  <div class="mdl-card__actions mdl-card--border">
			    <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="submit">
			      注册
			    </button> 
			  </div>
			  </form>
			</div>
          <div class="android-wear-band center-outer">
          	

            <div class="android-wear-band-text">
              <div class="mdl-typography--display-2 mdl-typography--font-thin">The best journey for yor!</div>
              <p class="mdl-typography--headline mdl-typography--font-thin">
                select area, 
              </p>
              <p>
                <a class="mdl-typography--font-regular mdl-typography--text-uppercase android-alt-link" href="">
                  See what's new in the Play Store&nbsp;<i class="material-icons">chevron_right</i>
                </a>
              </p>
            </div>
          </div>
        </div>

{% endblock %}